:root {
  --main-text-color: #424542;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 100px 20px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(245,245,245);
}

.shopContent {
  max-width: 1000px;
  height: fit-content;
  padding: 70px 100px 150px 100px;
  margin: auto;
  background-color: rgb(255,255,255);
}

